@charset "UTF-8";
/*
 * @Author: wangxiaokang
 * @Description: 1200px Grid layout framework with base style format
 * @Last Modified time: 2017-09-08 16:15:33
 */
/*
Aerochimps CSS reset for HTML5 based on html5doctor.com  reset v1.6.1
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

/* Apply a natural box layout model to all elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Reset mobile webkit styles */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

/*Reset outline in :focus*/
a:focus,
button:focus,
input:focus {
  outline: none; }

a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0; }

body {
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STHeitiSC-Light, simsun, "宋体", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif; }

.fs-xs {
  font-size: 12px; }

.fs-sm {
  font-size: 14px; }

.fs-md {
  font-size: 16px; }

.fs-lg {
  font-size: 18px; }

.fs-xl {
  font-size: 20px; }

.title-xs {
  font-size: 22px; }

.title-sm {
  font-size: 26px; }

.title-md {
  font-size: 30px; }

.title-lg {
  font-size: 34px; }

.title-xl {
  font-size: 38px; }

.mt-xs {
  margin-top: 5px; }

.mr-xs {
  margin-right: 5px; }

.mb-xs {
  margin-bottom: 5px; }

.ml-xs {
  margin-left: 5px; }

.pt-xs {
  padding-top: 5px; }

.pr-xs {
  padding-right: 5px; }

.pb-xs {
  padding-bottom: 5px; }

.pl-xs {
  padding-left: 5px; }

.mt-sm {
  margin-top: 10px; }

.mr-sm {
  margin-right: 10px; }

.mb-sm {
  margin-bottom: 10px; }

.ml-sm {
  margin-left: 10px; }

.pt-sm {
  padding-top: 10px; }

.pr-sm {
  padding-right: 10px; }

.pb-sm {
  padding-bottom: 10px; }

.pl-sm {
  padding-left: 10px; }

.mt-md {
  margin-top: 15px; }

.mr-md {
  margin-right: 15px; }

.mb-md {
  margin-bottom: 15px; }

.ml-md {
  margin-left: 15px; }

.pt-md {
  padding-top: 15px; }

.pr-md {
  padding-right: 15px; }

.pb-md {
  padding-bottom: 15px; }

.pl-md {
  padding-left: 15px; }

.mt-lg {
  margin-top: 20px; }

.mr-lg {
  margin-right: 20px; }

.mb-lg {
  margin-bottom: 20px; }

.ml-lg {
  margin-left: 20px; }

.pt-lg {
  padding-top: 20px; }

.pr-lg {
  padding-right: 20px; }

.pb-lg {
  padding-bottom: 20px; }

.pl-lg {
  padding-left: 20px; }

.mt-xl {
  margin-top: 25px; }

.mr-xl {
  margin-right: 25px; }

.mb-xl {
  margin-bottom: 25px; }

.ml-xl {
  margin-left: 25px; }

.pt-xl {
  padding-top: 25px; }

.pr-xl {
  padding-right: 25px; }

.pb-xl {
  padding-bottom: 25px; }

.pl-xl {
  padding-left: 25px; }

.lh-xs {
  line-height: 1; }

.lh-sm {
  line-height: 1.25; }

.lh-md {
  line-height: 1.5; }

.lh-lg {
  line-height: 1.75; }

.lh-xl {
  line-height: 2; }

.color-black {
  color: black; }

.color-gray-darker {
  color: #2b2b2b; }

.color-gray-dark {
  color: #555555; }

.color-gray {
  color: gray; }

.color-gray-light {
  color: #aaaaaa; }

.color-gray-lighter {
  color: #d5d5d5; }

.color-white {
  color: white; }

.color-blue {
  color: #305798; }

.color-red {
  color: #bf0009; }

.color-yellow {
  color: #fbe282; }

.bgc-black {
  background-color: black; }

.bgc-gray-darker {
  background-color: #2b2b2b; }

.bgc-gray-dark {
  background-color: #555555; }

.bgc-gray {
  background-color: gray; }

.bgc-gray-light {
  background-color: #aaaaaa; }

.bgc-gray-lighter {
  background-color: #d5d5d5; }

.bgc-white {
  background-color: white; }

.bgc-blue {
  background-color: #305798; }

.bgc-red {
  background-color: #bf0009; }

.bgc-yellow {
  background-color: #fbe282; }

.clearfix:after, .container:after, .row:after {
  content: '';
  display: table;
  clear: both; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.page {
  width: 100%; }

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.page > .row {
  margin-left: 0;
  margin-right: 0; }

.col-1 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 8.33333%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-push-1 {
  left: 8.33333%; }

.col-pull-1 {
  left: -8.33333%; }

.col-2 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-push-2 {
  left: 16.66667%; }

.col-pull-2 {
  left: -16.66667%; }

.col-3 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-3 {
  margin-left: 25%; }

.col-push-3 {
  left: 25%; }

.col-pull-3 {
  left: -25%; }

.col-4 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-push-4 {
  left: 33.33333%; }

.col-pull-4 {
  left: -33.33333%; }

.col-5 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 41.66667%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-push-5 {
  left: 41.66667%; }

.col-pull-5 {
  left: -41.66667%; }

.col-6 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-6 {
  margin-left: 50%; }

.col-push-6 {
  left: 50%; }

.col-pull-6 {
  left: -50%; }

.col-7 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-push-7 {
  left: 58.33333%; }

.col-pull-7 {
  left: -58.33333%; }

.col-8 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-push-8 {
  left: 66.66667%; }

.col-pull-8 {
  left: -66.66667%; }

.col-9 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-9 {
  margin-left: 75%; }

.col-push-9 {
  left: 75%; }

.col-pull-9 {
  left: -75%; }

.col-10 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-push-10 {
  left: 83.33333%; }

.col-pull-10 {
  left: -83.33333%; }

.col-11 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 91.66667%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-push-11 {
  left: 91.66667%; }

.col-pull-11 {
  left: -91.66667%; }

.col-12 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.col-offset-12 {
  margin-left: 100%; }

.col-push-12 {
  left: 100%; }

.col-pull-12 {
  left: -100%; }

/*# sourceMappingURL=xgrid.css.map */
